---
import AudioPlayer from "../components/AudioPlayer.astro";
import Container from "../components/Container.astro";
import H1 from "../components/H1.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

const audibles = new Array(10).fill(1);
---

<BaseLayout isPrivatePage>
  <Container>
    <H1>Hear what the world's saying</H1>
    <p class="text-lg dark:text-slate-200 pb-7 pt-1">
      Discover the voices of the world. Simply listen.
    </p>

    <div class="flex flex-col items-center">
      {audibles.map(() => <AudioPlayer />)}
    </div>
  </Container>
</BaseLayout>
