---
import H1 from "@components/H1.astro";
import Empty from "@components/Empty.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import Container from "@components/Container.astro";
---

<BaseLayout isPrivatePage>
  <Container>
    <H1>Hear what the world's saying</H1>
    <p class="text-lg dark:text-slate-200 pb-7 pt-1">
      Discover the voices of the world. Simply listen.
    </p>

    <div class="flex flex-col items-center">
      <!-- 👀 AudioPlayers will go here  -->

      <Empty />
    </div>
  </Container>
</BaseLayout>
