<div class="flex flex-col min-h-[30vh] items-center justify-center">
  <span role="img" aria-label="hand waving" class="text-8xl">🥺</span>
  <p class="dark:text-slate-200">This place is empty. No one's spoken — yet</p>
</div>
