<div class="flex flex-col min-h-[60vh] items-center justify-center">
  <div>
    <div class="py-4 mt-9">
      <span role="img" aria-label="hand waving" class="text-8xl">🥺</span>
    </div>
    <p class="dark:text-slate-200">
      This place is empty. No one's spoken — yet
    </p>
  </div>
</div>
