---
import Button from "../components/Button.astro";
import Logo from "../components/Logo.astro";

type Props = {
  isPrivatePage?: boolean;
};

const { isPrivatePage = false } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="Be Audible: let your voice be heard" />

    <title>Be Audible</title>
  </head>

  <body class="bg-gray-50 dark:bg-gray-900 p-12">
    <nav class="flex items-center">
      <div class="flex items-center">
        <Logo />
      </div>

      {
        isPrivatePage && (
          <>
            <a class="ml-auto mr-6 dark:text-primary-100" href="/record">
              Record
            </a>
            <Button>Sign out</Button>
          </>
        )
      }
    </nav>
    <slot />
  </body>
</html>
