---
import Button from "../components/Button.astro";
import Logo from "../components/Logo.astro";

type Props = {
  isPrivatePage?: boolean;
};

const { isPrivatePage = false } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="Be Audible: let your voice be heard" />

    <title>Be Audible</title>
  </head>

  <body class="bg-gray-50 dark:bg-gray-900 p-12">
    <nav class="flex items-center">
      <div class="flex items-center">
        <Logo />
      </div>

      {
        isPrivatePage && (
          <>
            <a class="ml-auto mr-6 dark:text-primary-100" href="/record">
              <svg
                viewBox="0 0 16 16"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                class="w-[30px] mx-auto"
              >
                <path
                  d="M8 12.5a4.5 4.5 0 1 0 0-9.002A4.5 4.5 0 0 0 8 12.5ZM8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0ZM1 8a7 7 0 1 1 14 0A7 7 0 0 1 1 8Z"
                  fill="currentcolor"
                />
              </svg>
              <span>Record</span>
            </a>
            <Button id="sign-out-button">Sign out</Button>
          </>
        )
      }
    </nav>
    <slot />
  </body>
</html>

<script>
  import { auth } from "@scripts/firebase/init";

  const signoutButton = document.getElementById("sign-out-button") as
    | HTMLButtonElement
    | undefined;

  if (signoutButton) {
    signoutButton.addEventListener("click", async () => {
      try {
        signoutButton.disabled = true;
        await auth.signOut();
        window.location.href = "/signin";
      } catch (error) {
        signoutButton.disabled = false;
        alert(error);
      }
    });
  }
</script>
